name: Tests

on:
    pull_request:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
            - name: Use Node.js
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
              with:
                  node-version: 24
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
            - name: Build
              run: npm run build

    format-check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
            - name: Use Node.js
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
              with:
                  node-version: 24
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
            - name: Check formatting
              run: npm run test:format

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
            - name: Use Node.js
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
              with:
                  node-version: 24
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
            - name: Run ESLint
              run: npm run lint

    type-check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
            - name: Use Node.js
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
              with:
                  node-version: 24
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
            - name: Run TypeScript
              run: npm run type-check
